*.mo
*.pyc
/*.egg-info
/.installed.cfg
/.mr.developer.cfg
/.nightly_password
/README.html
/build/
/buildout.cfg
/coverage/
/develop-eggs/
/dist/
/eggs/
/generated/
/parts/
/src/
/var/

/bin/*
!/bin/test-jenkins
