$secondary-color: #b3d1e9;

$font-size-base: 16px;

$showpagewrapper: true;

$globalnav-bg-color: transparent;
$globalnav-bg-color-hover: transparent;
$globalnav-link-color: $primary-color;
$globalnav-link-color-hover: #a7a64d;
$globalnav-separator-color: transparent;
$globalnav-font-size: $font-size-large;
$globalnav-gutter-width: 5px;

$footer-background-color: $gray-lighter;
$footer-font-color: $text-color;
$footer-link-color: $text-color;
$footer-link-color-hover: $link-hover-color;
